html {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-size: 1.25em;
}

header {
    padding: 10px 0 10px 0;
    border-bottom: white solid 2px;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    border-bottom: 1px darkgray solid;
    padding-right: 5px;
}

td.right {
    text-align: right;
}

td.middle {
    text-align: center;
}

div#home-container, div#capital-container {
    padding: 0 20%;
    text-align: center;
}

div#capital-container {
    background-repeat: no-repeat;
    background-position: center;
}


ul.capital-list {
    width: 400px;
    margin: 50px auto;
}

ul.capital-list li span.ng-binding {
    color: darkgray;
}

ul.capital-list, ul.capital-list li span ul {
    text-align: left;
}


tr#table-header {
    background-color: white;
    color: black;
}

ul li {
    list-style: none;
}

div#capital-container img {
    border: darkgray 3px solid;
}

span.neighbour {
    text-decoration: underline;
    display: inline-block;
    margin-right: 10px;
}

.loading {
    position:absolute;
    height:100%;
    width: 100%;
}
.loading:before {
    position:absolute;
    content:"";
    left:0;
    bottom:0;
    right:0;
    top:0;
    z-index:1000;
    background:rgba(0, 0, 0, 0.1) no-repeat center center;
    background-image: url('./ajax-loader.gif');
    background-size: 80px 80px;
}

.animate-view-container {
    position:relative;
    min-height: 100%;
}

.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:1s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:black;
}
.animate-view.ng-enter { opacity:0; z-index:100;}
.animate-view.ng-enter.ng-enter-active {opacity:1;}
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0;}