html {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-size: 2em;
}

header {
    padding: 20px 0 20px 0;
    border-bottom: white solid 2px;
    text-align: center;
}

div#home-container, div#capital-container {
    padding: 0 20%;
    text-align: center;
}

div#capital-container {
    background-repeat: no-repeat;
    background-position: center;
}

tr#table-header {
    background-color: white;
    color: black;
}

ul li {
    list-style: none;
}

div#capital-container img {
    border: white 2px solid;
}