html {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

header {
    padding: 20px 0 20px 0;
    border-bottom: white solid 2px;
    text-align: center;
}