<div id="countries-container">
    <table>
        <tr id="table-header">
            <td>Country Name</td>
            <td>Country Code</td>
            <td>Capital City</td>
            <td class="right">Area (sq km)</td>
            <td class="right">Population</td>
            <td>Continent Code</td>
        </tr>
        <tr ng-repeat="obj in countryObject" ng-click="link(obj.name);">
            <td>{{obj.name}}</td>
            <td class="middle">{{obj.countryCode}}</td>
            <td>{{obj.capital}}</td>
            <td class="right">{{obj.area | number:0}}</td>
            <td class="right">{{obj.population | number:0}}</td>
            <td class="middle">{{obj.continent}}</td>
        </tr>
    </table>
    <button ng-click="redirect()">Home</button>
</div>